<!DOCTYPE html>
<html>
  <head>
    <title>TrainAI - Homepage</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <a href="/"> FareFinder </a>
      </div>
      <header>
        <nav>
          <ul>
            <li><a class="active" href="/">HOME</a></li>
            <li><a href="/chatbot">CHATBOT</a></li>
            
          </ul>
        </nav>
      </header>
    </div>
    <main>
      <div class="title-container">
        <h1>Welcome to FareFinder!</h1>
      </div>
      <div class="image-containers">
       
        <div class="image-container">
          <img src="/images/train.jpeg" alt="Placeholder Image">
          <p class="caption">Finding the cheapest train ticket</p>
            <p class="description">
              "FareFinder" is your ultimate companion for securing the most affordable train tickets. 
        </div>
        <div class="image-container">
          <img src="/images/customer.png" alt="Placeholder Image">
          <p class="caption">Improving Customer Service</p>
          <p class="description">
          Stay informed about your journey with real-time train predictions, including arrival times and delays.
          </p>
        </div>

        <div class="image-container">
          <img src="/images/advice.png" alt="Placeholder Image">
          <p class="caption">Smart AI chat</p>
          <p class="description">
          Get instant answers to your questions with our intelligent chatbot powered by cutting-edge AI technology.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
